/*  your css code here. If applicable */
.main{
            /* text-align: center; */
            font-size: 30px;
            align-items: center;
        }

        .tab{
            background-color: yellow;
        }